*{
    margin: 0px;
    padding: 0px;
}

article{
    font-family: 'Roboto', sans-serif;
}

nav{
    padding: 20px;
    background-color: rgb(2, 11, 17);
    position: sticky;
    width: 100vw;
}

.principal{
    margin-top: 0px;
}

.cab{
    text-decoration: none;
    margin-left: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: rgb(209, 237, 237);
}

.fundo-1{
    background-image: url('../img/fundo.png');
    padding: 150px; /* Altera o valor de padding para 100px */
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.949);
    transition: all 0.3s ease;
}

.fundo-1:hover{
    box-shadow: inset 0 0 90px rgba(0, 0, 0, 0.949);
}

.caixa-1{
    background-color: rgb(2, 11, 17);
    margin: 0px auto;
    width: 700px;
    padding: 30px;
    border: 1px solid rgb(8, 40, 61);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.519);
}

.sub-titulo{
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 10px;
    font-size: 2em;
    color: rgb(209, 237, 237);
}

.titulo {
    font-size: 4em;
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease;
    color: rgb(209, 237, 237);
}

.titulo:hover {
    opacity: 1;
    padding: 5px;
    padding-left: 10px;
    width: auto;
    background-color: rgb(16, 82, 125);
    color: rgb(141, 143, 255);
    border-radius: 5px;
}


.titulo-2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.3em;
    color: rgb(209, 237, 237);
}
